$small: 550px;
$medium: 900px;

.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  min-height: 90vh;
  width: 100vw;
  padding: 0% 0% 0% 0%;
  @media screen and (max-height: $small) {
    min-height: $small;
  }
}
