$min: 375px;
$small: 460px;
$medium: 900px;

.searchInputs {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  @media screen and (max-width: $medium) {
    width: 100%;
  }
  @media screen and (max-width: $min) {
    width: 365px;
  }
}

.searchInputs input {
  border: 2px solid black;
  width: 400px;
  padding: 12px 20px;
  margin: 5px 0;
  box-sizing: border-box;
  @media screen and (max-width: $small) {
    width: 83%;
  }
}

.searchIcon img {
  width: 30px;
  padding: 0px 0px 0px 0px;
  margin: -11px 0px;
  cursor: pointer;
}

.searchSection {
  display: inline-block;
}

.button {
  background-color: #000000;
  border: none;
  padding: 14px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  @media screen and (max-width: $small) {
    width: 15%;
  }
}
